:root {
  --bg-color: #111827;
  --text-color: #ffffff;
  --secondary-bg: #2d2d2d;
  --border-color: #404040;
}

body {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  padding: 2em;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
}

a,
a:hover,
a:visited {
  color: #5eead4;
}

pre {
  code {
    padding: 2em 2em 2em 2em !important;
    font-size: 1.1em;
    background: linear-gradient(45deg, #0f332c, #422b51) !important;
    border-radius: 8px;
    line-height: 1.5;
  }
}

h1,
h2,
h3 {
  font-family: "Neuton";
  font-weight: 300;
  font-size: 2em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2.2em;
}

.slogan {
  font-size: 1.5em;
  line-height: 1.5;
}

hr {
  border: none; /* Remove default border */
  height: 3px; /* Adjust height */
  margin: 16px 0; /* 1em margin top and bottom */
  background: linear-gradient(
    to right,
    #060a1300,
    #0fa4e775
  ); /* Vibrant gradient for contrast */
  border-radius: 2px; /* Smooth rounded edges */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Slight glow effect for extra pop */
}

.neuton-light {
  font-family: "Neuton", serif;
  font-weight: 300;
  font-style: normal;
}

.neuton-regular {
  font-family: "Neuton", serif;
  font-weight: 400;
  font-style: normal;
}

.row-container {
  display: flex;
  width: 100%;
  flex-direction: row;

  @media (max-width: 959px) {
    flex-direction: column;

    .fixed {
      width: 100%;
    }

    .col.flexible {
      justify-content: flex-start; /* align left instead of center */
    }
  }

  .col {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fixed {
    width: 320px;
  }

  .flexible {
    flex: 1;
  }
}

.wrapping-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* optional - adds spacing between items */
}

floating-codebox {
  flex: 0 1 300px;
  pre {
    code {
      background: linear-gradient(45deg, #042720, #010f0d) !important;
    }
  }
}

/* HACKER NEWS */
.hn-header {
  background-color: #ff6600;
  padding: 2px;
  height: 24px;
  display: flex;
  align-items: center;

  a,
  a:hover,
  a:visited {
    color: black;
  }
}

.hn-header-content {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 18px;
}

.hn-logo {
  border: 1px solid white;
  color: #000000;
  background: white;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  height: 18px;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.hn-header-text {
  color: #000000;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  text-decoration: none;
}

.hn-header-separator {
  color: #000000;
  margin: 0 2px;
}

.hn-header-link {
  color: #000000;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  text-decoration: none;
}

.hn-header-link:hover {
  text-decoration: underline;
}

.story-list {
  background: #f6f6ef;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #000000;
  padding: 2em;
}

.story-list-item {
  padding: 5px 0;
}

.story-list-item .title-link {
  color: #000000;
  text-decoration: none;
}

.story-list-item .title-link:visited {
  color: #828282;
}

.story-list-item .meta {
  color: #828282;
  font-size: 8pt;
}

.story-list-item .meta a {
  color: #828282;
  text-decoration: none;
}

.story-list-item .meta a:hover {
  text-decoration: underline;
}

.rank {
  color: #828282;
  margin-right: 5px;
}

.vote-arrow {
  width: 10px;
  height: 10px;
  border: 0px;
  margin: 3px 2px 6px;
  background: url("grayarrow.gif") no-repeat;
  cursor: pointer;
}
